extends layout

block content

	- if (notfound)
		h1.ui.ten.wide.column 
		| Article "<strong>#{id}</strong>" does not exist.
	- else
		button.ui.orange.right.floated.button.annotate-toggle(style="position: fixed; right: 0px; top: 200px;transform-origin: 100% 100%;transform: rotate(-90deg);")
			| Tell us your perspective on this article
		.ui.grid
			.ui.sixteen.wide.column(id='stats')
				.ui.segment
					h1.ui.header
						.content
							| Controversy Analysis Of This Article
						a.ui.right.floated.button(href="#article")
							i.ui.icon.angle.double.down
							| Read the article
					.ui.blue.dividing.header
						i.newspaper.icon
						.content
							!= article.document.title
							.sub.header Published in #{article.source} on #{article.published}

					table.ui.definition.compact.table
						tbody
							tr
								td.two.wide.column Controversy
								td
									- var rounded = Math.round(article.features.controversy.value * 100);
									- var red = 208 - Math.round(article.features.controversy.value * (208 - 33));
									- var green = 208 - Math.round(article.features.controversy.value * (208 - 133));
									- var blue = 208;
									.pop(data-title="Explanation", data-variation="small", data-content="The confidence that the topic of this article is controversial is #{rounded}%.")
										.ui.active.progress(style="width:400px;margin:0px;display:inline-block;float:left;")
											.bar(style="width:#{rounded}%; background-color: rgb(#{red},#{green},#{blue})")
												.progress #{rounded}%
									.rate.pop(style="float:left;margin-left:20px;", data-variation="small", data-content="Let us know whether this was useful information or not.")
										i.positive.thumbs.outline.up.icon
										i.negative.thumbs.outline.down.icon

							tr
								td.two.wide.column Actors
								td
									- var score = stats.actors / 100;
									if score > 1
										- score = 1
									- var rounded = Math.round(score * 100);
									- var red = 208 - Math.round(score * (208 - 33));
									- var green = 208 - Math.round(score * (208 - 133));
									- var blue = 208;
									.pop(data-title="Explanation", data-variation="small", data-content="There are #{stats.actors} actors discussing the topic of this article. A controversy usually has many participating actors, indicating the size of the discussion.")
										.ui.active.progress(style="width:400px;margin:0px;display:inline-block;float:left;")
											.bar(style="width:#{rounded}%; background-color: rgb(#{red},#{green},#{blue})")
												.progress #{stats.actors}
									.rate.pop(style="float:left;margin-left:20px;", data-variation="small", data-content="Let us know whether this was useful information or not.")
										i.positive.thumbs.outline.up.icon
										i.negative.thumbs.outline.down.icon


							tr
								td.two.wide.column Polarity
								td
									- var score = stats.polarity;
									- var view = Math.round(score * 100);
									if score > 1
										- score = 1
									- var rounded = Math.round(score * 100);
									- var red = 208 - Math.round(score * (208 - 33));
									- var green = 208 - Math.round(score * (208 - 133));
									- var blue = 208;
									.pop(data-title="Explanation", data-variation="small", data-content="The polarity of the discussion on the topic of this article is #{rounded}%. The viewpoints in a controversy are usually polarized into grouped opposing camps.")
										.ui.active.progress(style="width:400px;margin:0px;display:inline-block;float:left;")
											.bar(style="width:#{rounded}%; background-color: rgb(#{red},#{green},#{blue})")
												.progress #{view}%
									.rate.pop(style="float:left;margin-left:20px;", data-variation="small", data-content="Let us know whether this was useful information or not.")
										i.positive.thumbs.outline.up.icon
										i.negative.thumbs.outline.down.icon

							tr
								td.two.wide.column Openness
								td
									- var score = stats.openness / 200;
									if score > 1
										- score = 1
									if score < 0.05
										- score = 0.05
									- var rounded = Math.round(score * 100);
									- var red = 208 - Math.round(score * (208 - 33));
									- var green = 208 - Math.round(score * (208 - 133));
									- var blue = 208;
									.pop(data-title="Explanation", data-variation="small", data-content="There are a total of #{stats.openness} comments related to the topic of this article. A controversy usually has many comments, as it plays out in an open space where people can easily join the discussion.")
										.ui.active.progress(style="width:400px;margin:0px;display:inline-block;float:left;")
											.bar(style="width:#{rounded}%; background-color: rgb(#{red},#{green},#{blue})")
												.progress #{stats.openness}
									.rate.pop(style="float:left;margin-left:20px;", data-variation="small", data-content="Let us know whether this was useful information or not.")
										i.positive.thumbs.outline.up.icon
										i.negative.thumbs.outline.down.icon

							tr
								td.two.wide.column Time-Persistence
								td
									- var score = stats.duration / 365;
									if score > 1
										- score = 1
									if score < 0.12
										- score = 0.12
									- var rounded = Math.round(score * 100);
									- var red = 208 - Math.round(score * (208 - 33));
									- var green = 208 - Math.round(score * (208 - 133));
									- var blue = 208;
									.pop(data-title="Explanation", data-variation="small", data-content="The discussion of the topic in this article spans #{stats.duration} days. A controversy usually persist over longer stretches of time.")
										.ui.active.progress(style="width:400px;margin:0px;display:inline-block;float:left;")
											.bar(style="width:#{rounded}%; background-color: rgb(#{red},#{green},#{blue})")
												.progress #{stats.duration} days
									.rate.pop(style="float:left;margin-left:20px;", data-variation="small", data-content="Let us know whether this was useful information or not.")
										i.positive.thumbs.outline.up.icon
										i.negative.thumbs.outline.down.icon

							tr
								td.two.wide.column Emotion
								td
									- var score = stats.emotion;
									- var view = Math.round(score * 100);
									- var rounded = Math.round(score * 100);
									- var red = 208 - Math.round(score * (208 - 33));
									- var green = 208 - Math.round(score * (208 - 133));
									- var blue = 208;
									.pop(data-title="Explanation", data-variation="small", data-content="Comments on the topic of this article on average have a sentimental strength of #{rounded}%. In a controversy usually strong sentiment is expressed, because values and beliefs are questioned.")
										.ui.active.progress(style="width:400px;margin:0px;display:inline-block;float:left;")
											.bar(style="width:#{rounded}%; background-color: rgb(#{red},#{green},#{blue})")
												.progress #{view}%
									.rate.pop(style="float:left;margin-left:20px;", data-variation="small", data-content="Let us know whether this was useful information or not.")
										i.positive.thumbs.outline.up.icon
										i.negative.thumbs.outline.down.icon


							if article.features.quality
								tr
									td.two.wide.column Document Quality
									td
										- var rounded = 100-Math.round(article.features.controversy.value * 100)
										- var green = Math.round(rounded * 2.2)
										- var red = 220 - green
										.ui.active.progress.pop(style="float:left;width:400px;margin:0px;", data-title="Explanation", data-variation="small", data-content="The confidence that the topic of this article is controversial is #{rounded}%.")
											.bar(style="width:#{rounded}%; background-color: rgb(#{red},#{green},0)")
												.progress #{rounded}%


							if article.features.topics
								tr
									td.two.wide.column Topics
									td
										- each topic in article.features.topics
											a.ui.tag.label.pop(href='/browse/search/#{topic.name}',style='text-transform: capitalize;', data-title="Explanation", data-variation="small", data-content="The article is about the topic '#{topic.name}' with a confidence of #{topic.value}.") #{topic.name}
												.detail #{topic.value}

			.ui.sixteen.wide.column
				.ui.segment
					.ui.grid
						.ui.sixteen.wide.column.right.aligned
							.ui.pagination.menu
								.item Page
								- each p in pages
									if p == current
										a.item.active(href='?page='+p) #{p}
									else if p == '...'
										.item #{p}
									else
										a.item(href='?page='+p) #{p}


						.ui.eight.wide.column

								h1.ui.dividing.header
									.content Negative Comments
								- each comment,i in negative
									div(style='display:block;')
										- var width = 80
										- var negativity = Math.round(comment.sentiment.negativity / comment.sentiment.words * width)
										- var positivity = Math.round(comment.sentiment.positivity / comment.sentiment.words * width)
										- var sentiment = Math.round(comment.sentiment.sentiment * 100)/100
										- var leftoffset = width - negativity;
										- var rightoffset = width - positivity;
										- var posgreen = 125 + Math.round(comment.sentiment.positivity / comment.sentiment.words * 125)
										- var posred = 125 - Math.round(comment.sentiment.positivity / comment.sentiment.words * 125)
										- var neggreen = 125 - Math.round(comment.sentiment.negativity / comment.sentiment.words * 125)
										- var negred = 125 + Math.round(comment.sentiment.negativity / comment.sentiment.words * 125)
										div(style='float: right; border: 1px solid rgba(34,36,38,.15); background: rgba(0,0,0,.03); padding: 6px; border-radius: .28571429rem; margin: 10px 0 20px 20px;font-family: Lato,Arial,Helvetica,sans-serif;')
											.pop(data-title="Explanation", data-variation="small", data-content="The words in this comment that express negative sentiment have a strength of #{negativity}%, while the words with positive sentiment have #{positivity}% strength. The average score for all sentimental words in this comment is #{sentiment*100}%.")
												div(style="text-align:center;")
													b
														| Sentiment
													
												div(class="ui progress" style="margin: 6px 0 6px 0;")
													div(class="bar" style="float:left;width:#{negativity}px; background-color: rgb(#{negred},#{neggreen},0); margin-left:#{leftoffset}px;min-width:0px;border-right:1px solid #666;")
													div(class="bar" style="float:left;width:#{positivity}px; background-color: rgb(#{posred},#{posgreen},0);  margin-right:#{rightoffset}px;min-width:0px;border-left:1px solid #666;")
													div(style="clear:both;")
												div(style="text-align:center;font-weight:bold;font-size:14px;")
													!= sentiment

											.rate(style="position:relative;float:right;")
												.pop(style="position:absolute;width:45px;right: -5px;bottom: 0px;", data-variation="small", data-content="Let us know whether this was useful information or not.")
													i.positive.thumbs.outline.up.icon
													i.negative.thumbs.outline.down.icon
										b
											!= comment.author
											| : 
										div(style="color: #333; font-family: Georgia; line-height: 1.625rem;")
											!= comment.text
									hr(style="clear:both")


						.ui.eight.wide.column

								h1.ui.dividing.header
									.content Positive Comments
								- each comment,i in positive
									div(style='display:block;')
										- var width = 80
										- var negativity = Math.round(comment.sentiment.negativity / comment.sentiment.words * width)
										- var positivity = Math.round(comment.sentiment.positivity / comment.sentiment.words * width)
										- var sentiment = Math.round(comment.sentiment.sentiment * 100)/100
										- var leftoffset = width - negativity;
										- var rightoffset = width - positivity;
										- var posgreen = 125 + Math.round(comment.sentiment.positivity / comment.sentiment.words * 125)
										- var posred = 125 - Math.round(comment.sentiment.positivity / comment.sentiment.words * 125)
										- var neggreen = 125 - Math.round(comment.sentiment.negativity / comment.sentiment.words * 125)
										- var negred = 125 + Math.round(comment.sentiment.negativity / comment.sentiment.words * 125)
										div(style='float: right; border: 1px solid rgba(34,36,38,.15); background: rgba(0,0,0,.03); padding: 6px; border-radius: .28571429rem; margin: 10px 0 20px 20px;font-family: Lato,Arial,Helvetica,sans-serif;')
											.pop(data-title="Explanation", data-variation="small", data-content="The words in this comment that express negative sentiment have a strength of #{negativity}%, while the words with positive sentiment have #{positivity}% strength. The average score for all sentimental words in this comment is #{sentiment*100}%.")
												div(style="text-align:center;")
													b
														| Sentiment
													
												div(class="ui progress" style="margin: 6px 0 6px 0;")
													div(class="bar" style="float:left;width:#{negativity}px; background-color: rgb(#{negred},#{neggreen},0); margin-left:#{leftoffset}px;min-width:0px;border-right:1px solid #666;")
													div(class="bar" style="float:left;width:#{positivity}px; background-color: rgb(#{posred},#{posgreen},0);  margin-right:#{rightoffset}px;min-width:0px;border-left:1px solid #666;")
													div(style="clear:both;")
												div(style="text-align:center;font-weight:bold;font-size:14px;")
													!= sentiment
											.rate(style="position:relative;float:right;")
												.pop(style="position:absolute;width:45px;right: -5px;bottom: 0px;", data-variation="small", data-content="Let us know whether this was useful information or not.")
													i.positive.thumbs.outline.up.icon
													i.negative.thumbs.outline.down.icon
										b
											!= comment.author
											| : 
										div(style="color: #333; font-family: Georgia; line-height: 1.625rem;")
											!= comment.text
									hr(style="clear:both")

						.ui.sixteen.wide.column.right.aligned
							.ui.pagination.menu
								.item Page
								- each p in pages
									if p == current
										a.item.active(href='?page='+p) #{p}
									else if p == '...'
										.item #{p}
									else
										a.item(href='?page='+p) #{p}


			.ui.sixteen.wide.column(id='article')
				.ui.segment
					h1.ui.header
						.content
							| Article
						a.ui.right.floated.button(href="#stats")
							i.ui.icon.angle.double.up
							| Controversy Analysis
					.ui.blue.dividing.header
						i.newspaper.icon
						.content
							!= article.document.title
							.sub.header Published in #{article.source} on #{article.published}
					!= article.document.text

