extends layout

block content

	- if (notfound)
		h1.ui.ten.wide.column 
		| Article "<strong>#{id}</strong>" does not exist.
	- else


		.ui.grid
			.ui.sixteen.wide.column
				.ui.segment
					h1.ui.dividing.header
						.content
							!= article.document.title
					!= article.document.text

			.ui.eight.wide.column
				.ui.segment
					h1.ui.dividing.header
						.content Negative negative
					- each comment,i in negative
						div(style='display:block;')
							- var rounded = 10;//Math.round(article._source.features.controversy.random * 100)
							- var green = Math.round(rounded * 2.2)
							- var red = 220 - green
							div(style='float:right; margin-left:20px;')
								div(class="ui active progress" style="width:100px")
									div(class="bar" style="width:#{rounded}px; background-color: rgb(#{red},#{green},0)")
										div(class="progress") #{rounded}%
							b
								!= comment.author
								| : 
							!= comment.text
						hr(style="clear:both")


			.ui.eight.wide.column
				.ui.segment
					h1.ui.dividing.header
						.content Positive Comments
					- each comment,i in positive
						div(style='display:block;')
							- var rounded = 90;//Math.round(article._source.features.controversy.random * 100)
							- var green = Math.round(rounded * 2.2)
							- var red = 220 - green
							div(style='float:right; margin-left:20px;')
								div(class="ui active progress" style="width:100px")
									div(class="bar" style="width:#{rounded}px; background-color: rgb(#{red},#{green},0)")
										div(class="progress") #{rounded}%
							b
								!= comment.author
								| : 
							!= comment.text
						hr(style="clear:both")






			include annotation
