extends layout

block content

	- if (notfound)
		h1.ui.ten.wide.column 
		| Article "<strong>#{id}</strong>" does not exist.
	- else


		.ui.grid
			.ui.sixteen.wide.column
				.ui.segment
					h1.ui.dividing.header
						.content
							| Article
					div(style="color: #333; font-family: Georgia; line-height: 1.625rem;")
						h3.ui.blue.header
							!= article.document.title
							.sub.header
								| Published in #{article.source} on #{article.published}
						!= article.document.text

					h5.ui.horizontal.divider.header
						i.bar.chart.icon
						| Article Properties
					table.ui.definition.table
						tbody
							tr
								td.two.wide.column Controversy
								td
									- var rounded = Math.round(article.features.controversy.value * 100)
									- var red = Math.round(rounded * 2.2)
									- var green = 220 - red
									div.ui.active.progress(style="width:400px;margin:0px;")
										div.bar(style="width:#{rounded}%; background-color: rgb(#{red},#{green},0)")
											div.progress #{rounded}%

							if article.features.quality
								tr
									td.two.wide.column Document Quality
									td 									
										- var rounded = 100-Math.round(article.features.controversy.value * 100)
										- var green = Math.round(rounded * 2.2)
										- var red = 220 - green
										div.ui.active.progress(style="width:400px;margin:0px;")
											div.bar(style="width:#{rounded}%; background-color: rgb(#{red},#{green},0)")
												div.progress #{rounded}%
							if article.features.topics
								tr
									td.two.wide.column Topics
									td
										- each topic in article.features.topics
											a.ui.tag.label(href='/browse/search/trump',style='text-transform: capitalize;') #{topic.name}
												.detail #{topic.value}

			.ui.eight.wide.column
				.ui.segment
					h1.ui.dividing.header
						.content Negative Comments
					- each comment,i in negative
						div(style='display:block;')
							- var width = 80
							- var negativity = Math.round(comment.sentiment.negativity / comment.sentiment.words * width)
							- var positivity = Math.round(comment.sentiment.positivity / comment.sentiment.words * width)
							- var sentiment = Math.round(comment.sentiment.sentiment * 100)/100
							- var leftoffset = width - negativity;
							- var rightoffset = width - positivity;
							- var posgreen = 125 + Math.round(comment.sentiment.positivity / comment.sentiment.words * 125)
							- var posred = 125 - Math.round(comment.sentiment.positivity / comment.sentiment.words * 125)
							- var neggreen = 125 - Math.round(comment.sentiment.negativity / comment.sentiment.words * 125)
							- var negred = 125 + Math.round(comment.sentiment.negativity / comment.sentiment.words * 125)
							div(style='float: right; border: 1px solid rgba(34,36,38,.15); background: rgba(0,0,0,.03); padding: 6px; border-radius: .28571429rem; margin: 10px 0 20px 20px;font-family: Lato,Arial,Helvetica,sans-serif;')
								div(style="text-align:center;")
									b
										| Sentiment
									
								div(class="ui progress" style="margin: 6px 0 6px 0;")
									div(class="bar" style="float:left;width:#{negativity}px; background-color: rgb(#{negred},#{neggreen},0); margin-left:#{leftoffset}px;min-width:0px;border-right:1px solid #666;")
									div(class="bar" style="float:left;width:#{positivity}px; background-color: rgb(#{posred},#{posgreen},0);  margin-right:#{rightoffset}px;min-width:0px;border-left:1px solid #666;")
									div(style="clear:both;")
								div(style="text-align:center;font-weight:bold;font-size:14px;")
									!= sentiment
							b
								!= comment.author
								| : 
							div(style="color: #333; font-family: Georgia; line-height: 1.625rem;")
								!= comment.text
						hr(style="clear:both")


			.ui.eight.wide.column
				.ui.segment
					h1.ui.dividing.header
						.content Positive Comments
					- each comment,i in positive
						div(style='display:block;')
							- var width = 80
							- var negativity = Math.round(comment.sentiment.negativity / comment.sentiment.words * width)
							- var positivity = Math.round(comment.sentiment.positivity / comment.sentiment.words * width)
							- var sentiment = Math.round(comment.sentiment.sentiment * 100)/100
							- var leftoffset = width - negativity;
							- var rightoffset = width - positivity;
							- var posgreen = 125 + Math.round(comment.sentiment.positivity / comment.sentiment.words * 125)
							- var posred = 125 - Math.round(comment.sentiment.positivity / comment.sentiment.words * 125)
							- var neggreen = 125 - Math.round(comment.sentiment.negativity / comment.sentiment.words * 125)
							- var negred = 125 + Math.round(comment.sentiment.negativity / comment.sentiment.words * 125)
							div(style='float: right; border: 1px solid rgba(34,36,38,.15); background: rgba(0,0,0,.03); padding: 6px; border-radius: .28571429rem; margin: 10px 0 20px 20px;font-family: Lato,Arial,Helvetica,sans-serif;')
								div(style="text-align:center;")
									b
										| Sentiment
									
								div(class="ui progress" style="margin: 6px 0 6px 0;")
									div(class="bar" style="float:left;width:#{negativity}px; background-color: rgb(#{negred},#{neggreen},0); margin-left:#{leftoffset}px;min-width:0px;border-right:1px solid #666;")
									div(class="bar" style="float:left;width:#{positivity}px; background-color: rgb(#{posred},#{posgreen},0);  margin-right:#{rightoffset}px;min-width:0px;border-left:1px solid #666;")
									div(style="clear:both;")
								div(style="text-align:center;font-weight:bold;font-size:14px;")
									!= sentiment
							b
								!= comment.author
								| : 
							div(style="color: #333; font-family: Georgia; line-height: 1.625rem;")
								!= comment.text
						hr(style="clear:both")






			include annotation
