extends layout

block content

	.ui.grid

		.ui.sixteen.wide.column
			.ui.segment
				h2.ui.teal.header
					.content Controversy over time
				iframe(style="border:0px;" src="http://controcurator.org/kibana/app/kibana#/visualize/create?embed=true&type=line&indexPattern=controcurator&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:'2016-10-01T15:55:27.190Z',mode:absolute,to:'2016-12-01T16:55:27.190Z'))&_a=(filters:!(),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(spy:(mode:(fill:!f,name:!n))),vis:(aggs:!((id:'1',params:(field:features.controversy.value),schema:metric,type:avg),(id:'2',params:(customInterval:'2h',extended_bounds:(),field:published,interval:d,min_doc_count:1),schema:segment,type:date_histogram)),listeners:(),params:(addLegend:!t,addTimeMarker:!t,addTooltip:!f,defaultYExtents:!t,drawLinesBetweenPoints:!t,interpolate:linear,radiusRatio:9,scale:linear,setYExtents:!f,shareYAxis:!t,showCircles:!t,smoothLines:!t,times:!(),yAxis:()),title:'Controversy',type:line))" height="200" width="100%")

		.ui.eight.wide.column
			.ui.segment
				h2.ui.teal.header
					.content Most Controversial Issues
				- each article,i in top
					div(style='display:block;')
						- var rounded = Math.round(article._source.features.controversy.value * 100)
						- var red = Math.round(rounded * 2.2)
						- var green = 220 - red
						div(style='float:right; margin-left:20px;')
							div(class="ui active progress" style="width:100px")
								div(class="bar" style="width:#{rounded}px; background-color: rgb(#{red},#{green},0)")
									div(class="progress") #{rounded}%
						a(href='/browse/article/'+article._id, style="") #{article._source.document.title}
					hr(style="clear:both")

		.ui.eight.wide.column
			.ui.segment
				h2.ui.teal.header
					.content Least Controversial Issues
				- each article,i in bottom
					div(style='display:block;')
						- var rounded = Math.round(article._source.features.controversy.value * 100)
						- var red = Math.round(rounded * 2.2)
						- var green = 220 - red
						div(style='float:right; margin-left:20px;')
							div(class="ui active progress" style="width:100px")
								div(class="bar" style="width:#{rounded}px; background-color: rgb(#{red},#{green},0)")
									div(class="progress") #{rounded}%
						a(href='/browse/article/'+article._id, style="") #{article._source.document.title}
					hr(style="clear:both")

		.ui.sixteen.wide.column.right.aligned
			a.ui.right.labeled.icon.primary.button(href='/browse/article/'+top[0]._id)
				i.right.arrow.icon
				| Please help us by annotating an article
